:root.dark {
  --slidev-code-background: #111213;
}

.dark.dark #slide-content {
  background-color: black;
}

.slidev-layout blockquote {
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
}

.slidev-vclick-target {
  transition: opacity 300ms ease-in-out;
}

.slidev-vclick-hidden {
  opacity: 0;
  pointer-events: none;
}